:root {
    /* Fonts */
    --main-font-family: 'Roboto', sans-serif;

    /* Colors */
    --main-color: #212121;
    --secondary-color: #757575;
    --main-light-color: #fff;
    --current-color: #2196F3;
    --background-hero-section-color: #2F303A;
    --background-our-team-section-color: #F5F4FA;
}

body {
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 500;

    color: var(--main-color);

    letter-spacing: 0.03em;
}





/* Common Styles */
.link {
    text-decoration: none;
    color: inherit;
}
.link:hover {
    color: var(--current-color);
}
.link:focus {
    color: var(--current-color);
}
.button {
    border: none;
    font-family: inherit;
    cursor: pointer;
    color: inherit;
}
.list {
    list-style: none;
    display: flex;
    padding: 0;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.span {
color: var(--current-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.nav-link.current {
    color: var(--current-color);
}
.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}


/* header */
.header {
    background-color: var(--main-light-color);
    /* display: flex; */
    text-align: center;

    padding-top: 25px;
    /* padding-bottom: 25px; */
}
.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    display: flex;
    align-items: center;
}
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-family: 'Raleway', sans-serif;
    
    text-decoration: none;
    color: inherit;
}
.nav-list {
    list-style: none;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    text-align:center;
    margin-left: 93px;
    padding-left: 0px;
}
.nav-list-item + .nav-list-item {
    margin-left: 50px;
}
.nav-link {
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.list-contacts {
    list-style: none;
    display: flex;
    gap: 50px;
}
.link-address {
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    font-style: normal;
}





/* Hero Section  */
.hero-section {
    background-image: url(../images/background-hero-section.png);
    padding-bottom: 200px;
    display:flex; 
    flex-direction:column; 
    justify-content:space-around; 
    align-items:center;
}
.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-light-color);
    padding-top: 200px;
    width: 696px;
    margin: 0 auto;
}
.button-hero {
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-light-color);
    background-color: var(--current-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 

    margin-top: 30px;
    margin-left: 700px;
    margin-right: 700px;
    width: 200px;
    height: 50px;
    padding: 0;
}






/* Benefits Section */
.benefits-section {
    margin-top: 94px;
}
.list-benefits {
    margin: 0;
    padding: 0;
    width: auto;
    gap: 30px;
}
.list-benefits-item img {
    background-color: var(--background-our-team-section-color);
    border-radius: 4px;
    padding: 25px 100px;
}
.benefits-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}
.description-benefits {
    line-height: 1.71;
    color: var(--secondary-color);
}






/* Example Section */
.example-section {
    margin-top: 94px;
}
.list-foto {
    margin-top: 50px;
    margin-bottom: 94px;
    padding: 0;
    gap: 30px;
}






/* Section "Наша команда" */
.section-our-team {
    background-color: var(--background-our-team-section-color);
    margin-top: 0;
    padding-top: 94px;
}
.title-our-team {
    margin-top: 0;
    margin-bottom: 50px;
}
.list-our-team {
    margin: 0;
    padding: 0;
    gap: 30px;
    padding-bottom: 94px;
}
.list-item-our-team {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    background-color: var(--main-light-color);
    transition: all 0.3s ease-in-out;
}
.list-item-our-team:hover {
    transform: scale(1.1,1.1);
}
.name-person {
    font-size: 16px;
    line-height: 1.18;
    color: var(--main-color);
}
.person-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-color);
}







/* Clients Section */
.clients-section {
    padding-top: 94px;
}
.clients-title {
    margin-top: 0;
    margin-bottom: 50px;
}
.list-clients {
    display: flex;
    gap: 30px;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 94px;
    padding: 0;
    margin-top: 0;
}
.list-clients-item {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px #AFB1B8;
    transition: all 0.3s;
}
.list-clients-item:hover {
    border: 1px solid var(--current-color);
    box-shadow: 0 6px 6px var(--current-color);
    transform: scale(1.1,1.1);
}
.list-clients-item:hover .list-clients-item-svg path {
    fill: var(--current-color);
}
.list-clients-item-svg {
    padding: 16px 32px;
}
.list-clients-item-svg path {
    fill: #AFB1B8;
}







/* footer */
.footer {
    background-color: var(--background-hero-section-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.dates-footer {
    width: 1200px;
    display: flex;
    align-items: flex-start;
}
.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--main-light-color);

    text-decoration: none;

    padding-left: 215px;
}
.list-address {
    list-style: none;
    padding-left: 215px;
    margin-top: 20px;
    margin-bottom: 0;
}
.list-item-address + .list-item-address {
    margin-top: 9px;
}
.link-contacts {
    font-weight: 400;
    line-height: 1.71;
    color: var(--main-light-color);
    text-decoration: none;
    font-style: normal;
}
.social-net {
    margin-left: 70px;
}
.text-footer {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-light-color);
    margin-top: 12px;
    margin-bottom: 0;
}
.list-social {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 0px;
}
.list-social-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: all 0.3s ease-in-out;
}
.list-social-item:hover {
    background-color: var(--current-color);
    transform: scale(1.1,1.1);
}
.img-social {
    padding: 12px;
}







/* Page Portfolio */
/* Header */
.header:after {
    content: "";
    border: 1px solid #ECECEC;
    display: block;
    height: 0px;
    margin-top: 25px;
}





/* Main Section */
.main {
    margin-top: 94px;
    margin-bottom: 94px;
}
.button-filtr {
    background-color: var(--background-our-team-section-color);
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--main-color);

    letter-spacing: 0.03em;
    padding: 6px 22px;
}
.button-filtr:hover {
    color: var(--main-light-color);
    background-color: var(--current-color);
}
.button-filtr:focus {
    color: var(--main-light-color);
    background-color: var(--current-color);
}
.item-portfolio-section {
    margin-top: 34px;
}
.projects-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);

    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 4px;
}
.projects-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-color);
    margin-top: 0;
    margin-bottom: 0;
}
.list-buttons-filtr {
    gap: 8px;
    justify-content: center;
    margin: 0;
}
.list-portfolio {
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
}
.list-portfolio-item {
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.description-portfolio-item {
    padding: 20px 24px;
}